<ion-view view-title="Liberação da Portaria">
  <ion-content id="liberar">

    <form ng-submit="doCancela()">

      <div class="list">
        <label class="item item-input item-select">
           <div class="input-label">Usuário:</div>
           <select ng-model="Cancela.user">
              <option ng-repeat="u in usuario" value="{{u.usuario}}">{{u.nome}} - {{u.modelo}}</option>
           </select>
        </label>
       </div>

      <ion-list>
        <ion-radio ng-model="Cancela.tipo" ng-value="'E'">Entrada</ion-radio>
        <ion-radio ng-model="Cancela.tipo" ng-value="'S'">Saída</ion-radio>
      </ion-list>

      <button class="button button-full button-royal" type="submit">Liberar</button>
    </form>

  </ion-content>
</ion-view>