<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="278">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          <i class="icon ion-person-stalker"></i> Cadastrar Usuário
        </ion-item>

        <ion-item menu-close ng-click="newCarro()">
          <i class="icon ion-model-s"></i> Cadastrar Carro
        </ion-item>

        <ion-item menu-close href="#/app/search" ng-click="doSearch()">
         <i class="icon ion-search"></i> Procurar Usuário 
        </ion-item>

        <ion-item menu-close href="#/app/browse">
          <i class="icon ion-checkmark-round"></i> Liberação da Portaria 
        </ion-item>
        
        <ion-item menu-close href="#/app/report">
          <i class="icon ion-clipboard"></i> Relatório de Movimentação 
        </ion-item>

        <ion-item menu-close href="#/app/playlists">
          <i class="icon ion-power"></i> Sair  
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>