<ion-modal-view>

  <ion-header-bar class="bar-balanced">
    <h1 class="title">Cadastrar Carro</h1>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="doCarro()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Placa</span>
          <input type="text" ng-model="Car.placa" required maxlength="10">
        </label>
        <label class="item item-input">
          <span class="input-label">Modelo</span>
          <input type="text" ng-model="Car.modelo" required maxlength="20">
        </label>
        <label class="item item-input">
          <span class="input-label">Montadora</span>
          <input type="text" ng-model="Car.montadora" required maxlength="20">
        </label>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
               Motorista
            </div>

            <select required ng-model="Car.motorista">
               <option ng-repeat="x in motorista" value="{{x.usuario}}">{{x.nome}}</option>
            </select>
           </label>
        </div>

      </div>

      <button class="button button-full button-royal" type="submit">Salvar</button>
    </form>
  </ion-content>
</ion-modal-view>