<ion-view view-title="Procurar Usuário">
  <ion-content id="search">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Procurar">
        <button class="button button-balanced">Procurar</button>
       </label>
    </div>

    <div class="list row">
      <label class="item item-input row">
          <span class="input-label col col-75">1 - Henrique Leal</span>
           <a class="button button-icon icon ion-edit col col-12"></a>
          <a class="button button-icon icon ion-trash-b col col-12"></a>
        </label>
    </div>

    <div class="list row">
      <label class="item item-input row">
          <span class="input-label col col-75">2 - Joao Cardia</span>
           <a class="button button-icon icon ion-edit col col-12"></a>
          <a class="button button-icon icon ion-trash-b col col-12"></a>
        </label>
    </div>

    <div class="list row">
      <label class="item item-input row">
          <span class="input-label col col-75">3 - Breno</span>
           <a class="button button-icon icon ion-edit col col-12"></a>
          <a class="button button-icon icon ion-trash-b col col-12"></a>
        </label>
    </div>
  </ion-content>
</ion-view>