<ion-view view-title="Informações do Motorista">
    <ion-content>
        <div class="item item-avatar">
            <img src="templates/joao.PNG">
            <h2>João Cardia</h2>
            <p>Chevrolet Onix HHBC-3305</p>
        </div>

    <form>
        <div class="list">
           <label class="item item-input">
              <span class="input-label">Nome Completo</span>
              <input type="text" value="João Cardia">
           </label>
           <label class="item item-input">
              <span class="input-label">CPF</span>
              <input type="text" value="458.651.952-88">
           </label>
           <label class="item item-input">
              <span class="input-label">Telefone</span>
              <input type="text" value="(14) 99547-8854">
           </label>
           <label class="item item-input">
              <span class="input-label">E-mail</span>
              <input type="text" value="jaozindocrime@gmail.com">
           </label>
        </div>

        <a href="#/app/search" class="semLink"><button class="button button-full button-royal">Salvar</button></a>
        <button class="button button-full button-energized" ng-click="exclusao()">Excluir</button>
    </form>
    </ion-content>
</ion-view>